html {
    height: 100%;
  }


body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #ffdeef;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
  }
  
  .footer {
    margin-top: auto;
  }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

footer {
    background-color: #faa0cf;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
}

li {
    display: inline;
    float: left;
}
  
/* a {
    display: block;
    padding: 8px;
    background-color: #fff;
} */

nav {
    background-color: #fff;
    /* padding: 10px 20px; */

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #dddddd; */
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link {
    display: block;
    padding: 8px;
    background-color: #fff;
}

.nav-link:hover {
    background-color: #faa0cf;
    color: white;
}

.bios {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}


.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two columns */
    gap: 20px; /* Space between items */
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 800px;
  }
  
  .card img {
    width: auto; /* Make the image fill the container */
    height: auto; 

  }
